# Ignore node_modules (npm install se dobara ban jata hai)
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor-specific folders/files (optional)
.vscode/

# OS-specific files
.DS_Store

# Env files (future use ke liye)
.env
